/* Imports */
/* Variables */
header .container-fluid {
  padding: 3% 10%;
}

main .container-fluid {
  padding: 0 10%;
}
main .container-fluid div div .main-container-login {
  position: relative;
  width: 415px;
  height: 576px;
  left: 10%;
  background: rgba(255, 255, 255, 0.94);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
main .container-fluid div div .main-container-login h1 {
  padding: 30px 30px 10px 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #3C3C3C;
}
main .container-fluid div div .main-container-login h1 .sec-color-text {
  color: #FE4A27;
}
main .container-fluid div div .main-container-login h2 {
  padding: 0 30px 10px 30px;
  font-size: 15px;
  text-align: center;
  color: #3C3C3C;
}
main .container-fluid div div .main-container-login h3 {
  padding: 10px 30px 10px;
  font-size: 14px;
  text-align: start;
  color: #3C3C3C;
}
main .container-fluid div div .main-container-login .form-control-text-input {
  margin: 0 30px 20px 30px;
  width: 355px;
}
main .container-fluid div div .main-container-login .form-control-text-input:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
main .container-fluid div div .main-container-login div div .form-control-text-input-md {
  margin: 0 30px 20px 30px;
  width: 169px;
}
main .container-fluid div div .main-container-login div div .form-control-text-input-md:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
main .container-fluid div div .main-container-login div .col-container-right-cont {
  padding-left: 7px;
}
main .container-fluid div div .main-container-login div .col-container-right-cont .form-control-select-input-md, main .container-fluid div div .main-container-login div .col-container-right-cont .form-control-text-input-md {
  margin: 0;
  width: 169px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  height: 38px;
  padding-left: 5px;
  color: #585C5E;
}
main .container-fluid div div .main-container-login div .col-container-right-cont .form-control-select-input-md:focus, main .container-fluid div div .main-container-login div .col-container-right-cont .form-control-text-input-md:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
main .container-fluid div div .main-container-login h4 {
  padding: 0 30px 10px 30px;
  text-align: start;
  font-size: 11px;
  font-weight: 500;
  color: #9F9F9F;
}
main .container-fluid div div .main-container-login .a-btn-nav-login {
  left: 65px;
  position: absolute;
  width: 285px;
  height: 42px;
  background-color: #FE4A27;
  color: white;
  border-radius: 6px;
  border: 1px solid #FE975B;
}
main .container-fluid div div .main-container-login .a-btn-nav-login:hover {
  background-color: rgba(254, 74, 39, 0.8);
}

footer {
  text-align: center;
  padding-bottom: 30px;
}
footer .icon-row {
  font-size: 25px;
  color: #F0F0F0;
  margin-top: 30px;
}
footer .icon-row .icon-social-media {
  margin: 0 5px;
}
footer .icon-row .icon-social-media:hover {
  color: #FE4A27;
}
footer p {
  color: #F0F0F0;
}

.body-dashboard {
  background-color: #E2E2E2;
}
.body-dashboard .header-dashboard .container-fluid {
  padding: 3% 10%;
}
.body-dashboard .header-dashboard .container-fluid div div .btn-log-off {
  background-color: transparent;
  border-color: transparent;
  color: #FE4A27;
  display: flex;
  align-items: unset;
  position: absolute;
  right: 10%;
  top: 7%;
}
.body-dashboard .header-dashboard .container-fluid div div .btn-log-off h4 {
  color: #3C3C3C;
  margin-left: 8px;
}
.body-dashboard main .container-fluid {
  padding: 0 10%;
}
.body-dashboard main .container-fluid div .main-name-container {
  width: 44%;
}
.body-dashboard main .container-fluid div .main-name-container .name-container {
  position: relative;
  height: 158px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.body-dashboard main .container-fluid div .main-name-container .name-container h1 {
  padding: 20px 0 5px 30px;
  color: #FE4A27;
}
.body-dashboard main .container-fluid div .main-name-container .name-container p {
  padding: 0 0 0px 30px;
  margin: 0;
  font-weight: 600;
  color: #3C3C3C;
}
.body-dashboard main .container-fluid div .main-name-container .name-container p .p-regular-font-weight {
  font-weight: 200;
}
.body-dashboard main .container-fluid div .main-BMI-container {
  width: 22.6%;
}
.body-dashboard main .container-fluid div .main-BMI-container .BMI-container {
  position: relative;
  height: 158px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
}
.body-dashboard main .container-fluid div .main-BMI-container .BMI-container h1 {
  padding: 20px 0 0 0;
  color: #FE4A27;
  margin: 0;
}
.body-dashboard main .container-fluid div .main-BMI-container .BMI-container h2 {
  color: #3C3C3C;
  margin: 0;
}
.body-dashboard main .container-fluid div .main-BMI-container .BMI-container p {
  color: #3C3C3C;
  margin: 0;
}
.body-dashboard main .container-fluid div div .weather-container {
  position: relative;
  height: 158px;
  text-align: center;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.body-dashboard main .container-fluid div div .weather-container p {
  color: #3C3C3C;
  margin: 0;
  padding: 10%;
}
.body-dashboard main .container-fluid div .main-table-workout-container {
  width: 66.7%;
  padding: 30px 10px;
}
.body-dashboard main .container-fluid div .main-table-workout-container p {
  margin: 0;
}
.body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar .form-control-select-input-md, .body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar div .main-container-login div .col-container-right-cont .form-control-text-input-md, .body-dashboard main .container-fluid div div .main-container-login div .col-container-right-cont .main-table-workout-container .add-new-workout-bar .form-control-text-input-md {
  margin: 0;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  height: 38px;
  padding-left: 5px;
  color: #585C5E;
}
.body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar .form-control-select-input-md:focus, .body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar div .main-container-login div .col-container-right-cont .form-control-text-input-md:focus, .body-dashboard main .container-fluid div div .main-container-login div .col-container-right-cont .main-table-workout-container .add-new-workout-bar .form-control-text-input-md:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
.body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar .form-control-text-input {
  width: 250px;
  display: inline;
}
.body-dashboard main .container-fluid div .main-table-workout-container .add-new-workout-bar .form-control-text-input:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
.body-dashboard main .container-fluid div .main-table-workout-container .btn-primary {
  background-color: #FE4A27;
  border-color: #FE975B;
  margin-bottom: 3px;
  height: 38px;
}
.body-dashboard main .container-fluid div .main-table-workout-container .btn-primary:hover {
  background-color: rgba(254, 74, 39, 0.8);
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container {
  position: relative;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 30px;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container h3 {
  color: #FE4A27;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar {
  width: 250px;
  padding: 10px 0;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar .filters-bar-ico {
  width: 15%;
  padding-top: 5px;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar .form-control-select-input-md, .body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar div .main-container-login div .col-container-right-cont .form-control-text-input-md, .body-dashboard main .container-fluid div div .main-container-login div .col-container-right-cont .main-table-workout-container .table-workout-container .filters-bar .form-control-text-input-md {
  margin: 0;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  height: 38px;
  padding-left: 5px;
  color: #585C5E;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar .form-control-select-input-md:focus, .body-dashboard main .container-fluid div .main-table-workout-container .table-workout-container .filters-bar div .main-container-login div .col-container-right-cont .form-control-text-input-md:focus, .body-dashboard main .container-fluid div div .main-container-login div .col-container-right-cont .main-table-workout-container .table-workout-container .filters-bar .form-control-text-input-md:focus {
  border: 1px solid #FE4A27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FE4A27;
}
.body-dashboard main .container-fluid div .main-table-workout-container p {
  padding: 10px 0;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-striped thead tr th {
  color: white;
  background-color: #FE4A27;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-striped thead tr .th-border-rd-left {
  border-radius: 15px 0 0 0;
}
.body-dashboard main .container-fluid div .main-table-workout-container .table-striped thead tr .th-border-rd-right {
  border-radius: 0 15px 0 0;
}
.body-dashboard main .container-fluid div .main-result-workout-container {
  width: 33.3%;
  padding: 30px 13px;
}
.body-dashboard main .container-fluid div .main-result-workout-container .result-workout-container {
  position: relative;
  height: 158px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 10px 7px 24.9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 30px;
}
.body-dashboard main .container-fluid div .main-result-workout-container .result-workout-container h3 {
  color: #FE4A27;
}
.body-dashboard .footer-dashboard {
  text-align: center;
  padding-bottom: 30px;
}
.body-dashboard .footer-dashboard .icon-row {
  font-size: 25px;
  color: #3C3C3C;
  margin-top: 30px;
}
.body-dashboard .footer-dashboard .icon-row .icon-social-media {
  margin: 0 5px;
}
.body-dashboard .footer-dashboard .icon-row .icon-social-media:hover {
  color: #FE4A27;
}
.body-dashboard .footer-dashboard p {
  color: #3C3C3C;
}

.body-index {
  background-image: url("../images/unsplash_d3bYmnZ0ank.png");
  background-size: cover;
}

html, body {
  margin: 0;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
