/* Imports */

@import "_variables";
@import "_index";
@import "_dashboard";

.body-index{
    background-image: url("../images/unsplash_d3bYmnZ0ank.png");
    background-size: cover;
}

html, body {
    margin: 0;
    height: 100%;
}